

<section id="description">
	<h3>Description</h3>
	<hr>
	<!-- from http://getbootstrap.com/2.3.2/javascript.html#tabs -->
	<ul class="nav nav-tabs">
		<li class="active"><a href="#descriptionView" data-toggle="tab">View</a></li>
		<li><a href="#descriptionEdit" data-toggle="tab">Edit</a></li>
	</ul>
	<div id="descriptionContent" class="tab-content">
		<div class="tab-pane fade in active" id="descriptionView">
		    <p>
		  	  <%= problem.description %>
		    </p>
		</div>
		<div class="tab-pane fade" id="descriptionEdit">
		    <textarea rows="10" cols="300" class="span9"><%= problem.description %></textarea>
		</div>
	</div>
</section>