<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= problem.name %> | The Unsolved Problems Database</title>
	<% include ../headers %>
	
	<script type="text/javascript" src="../../models/singleEdit.js"></script>
</head>
<body data-spy="scroll" data-target=".bs-docs-sidebar" data-offset-top="500">
  <% include ../navbar %>
  <% include ../ribbon %>
  <header class="jumbotron">
  	<div class="row-fluid">
  	  <div class="span9 offset3">
  		  <div class="row-fluid heading">
  			  <h2><%= problem.name %></h2>
  		  </div>
  		  <div class="row-fluid subheading">
  			  <p class="lead"><%= problem.topic %> -- <%= problem.subtopic %></p>
  		  </div>
  	  </div>
  	</div>
  </header>
  <hr class="soften">
  <div class="container">
	<div class="row">
	  <!-- from http://twitter.github.io/bootstrap/components.html -->
		  <% include ../navlist %>
		  <div class="span9">
			  <% include ../alert %>
			  
			  <% include sectionDescription %>
			  <% include sectionStatement %>
			  <% include sectionExamples %>
			  <% include sectionImportance %>
			  <% include sectionHardness %>
			  <% include sectionHistory %>
			  <% include sectionSolutions %>
			  <% include sectionImplications %>
			  <% include sectionFAQ %>
			  <% include sectionForums %>
			  <% include sectionReferences %>
		  </div>
    </div>
  </div>
  <% include ../footer %>
  
  <% include ../scripts %>
</body>
</html>