
	<section id="hardness">
		<h3>Why It's Unsolved</h3>
		<hr>
		<!-- from http://getbootstrap.com/2.3.2/javascript.html#tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#hardnessView" data-toggle="tab">View</a></li>
			<li><a href="#hardnessEdit" data-toggle="tab">Edit</a></li>
		</ul>
		<div id="hardnessContent" class="tab-content">
			<div class="tab-pane fade in active" id="hardnessView">
			    <p>
					<%= problem.hardness %>
			    </p>
			</div>
			<div class="tab-pane fade" id="hardnessEdit">
			<form name="hardnessInput" action="/submitEdit">
				<input type="hidden" name="problemName" value="<%= problem.nid %>">
				<input type="hidden" name="problemSection" value="hardness">
				<input type="hidden" name="problemOldText" value="<%= problem.hardness %>">
			    	<textarea name="problemNewText" rows="10" cols="300" class="span9"><%= problem.hardness %></textarea>
				<button type="submit" class="btn">Save</button>
			</form>
			</div>
		</div>
	</section>