
	<section id="implications">
		<h3>Implications</h3>
		<hr>
		<!-- from http://getbootstrap.com/2.3.2/javascript.html#tabs -->
		<ul class="nav nav-tabs">
			<li class="active"><a href="#implicationsView" data-toggle="tab">View</a></li>
			<li><a href="#implicationsEdit" data-toggle="tab">Edit</a></li>
		</ul>
		<div id="implicationsContent" class="tab-content">
			<div class="tab-pane fade in active" id="implicationsView">
			    <p>
					<%= problem.implications %>
			    </p>
			</div>
			<div class="tab-pane fade" id="implicationsEdit">
			<form name="implicationsInput" action="/submitEdit">
				<input type="hidden" name="problemName" value="<%= problem.nid %>">
				<input type="hidden" name="problemSection" value="implications">
				<input type="hidden" name="problemOldText" value="<%= problem.implications %>">
			    	<textarea name="problemNewText" rows="10" cols="300" class="span9"><%= problem.implications %></textarea>
				<button type="submit" class="btn">Save</button>
			</form>
			</div>
		</div>
	</section>