<!DOCTYPE html>
<!-- created mostly with reference to https://spark-public.s3.amazonaws.com/startup/images/part1-instructions.pdf-->
<html lang="en">
  <head>
    <title>About | The Unsolved Problems Database</title>
	
	<% include headers %>
	
  </head>
  <body>
	  <!-- navbar -->
	  <% include navbar %>
	  <% include navid %>
	  
	  <!-- idea copied from pitery.herokuapp.com -->
	  <% include ribbon %>
	  <div class="row">
		  <div class="span3">
			  <a href="/"><img src="/assets/img/logo.svg" style="max-width:50%; display:block; margin-left:auto; margin-right:auto;"/></a>
		  </div>
		  <div class="span9">
			  <div class="row-fluid heading">
				  <div class="span12"><h1>The Unsolved Problems Database</h1></div>
			  </div>
			  <div class="row-fluid subheading">
				  <div class="span12"> 
					  <p class="lead">About Us</p>
				  </div>
			  </div>
		  </div>
	  </div>
	  <div class="row-fluid">
		  <div class="span6 offset3">
		  The Unsolved Problems Database is a website dedicated to teaching any curious mind about some of the things humanity has yet to solve. Here you will find pages on many unsolved problems in mathematics, the natural sciences, the social science, and many other areas.
	 	  </div>
  	  </div>
	  
	  <% include scripts %>
  </body>
  </html>