<!DOCTYPE html>
<!-- created mostly with reference to https://spark-public.s3.amazonaws.com/startup/images/part1-instructions.pdf-->
<html lang="en">
  <head>
    <title>About | The Unsolved Problems Database</title>
	
	<% include headers %>
	
  </head>
  <body>
	  <!-- navbar -->
	  <% include navbar %>
	  <% include navid %>
	  
	  <header class="jumbotron">
	    	<div class="row-fluid">
	    	  <div class="span9 offset3">
	    		  <div class="row-fluid heading">
	    			  <h2>About Us</h2>
	    		  </div>
		  		  <div class="row-fluid subheading">
		  			  <p class="lead">The Unsolved Problems Database</p>
		  		  </div>
	    	  </div>
	    	</div>
	  </header>
	  <div class="row-fluid">
		  <div class="span9 offset3">
		  	  <% include alert %>
			  <section id="description">
				  <h3>Description</h3>
				  <hr>
				  <p>
					  The Unsolved Problems Database is a website dedicated to teaching any curious mind about some of the things humanity has yet to solve. Here you will find pages on many unsolved problems in mathematics, the natural sciences, the social sciences, and many other areas.
				  </p>
			  </section>
		  </div>
  	  </div>
	  
	  <% include footer %>
	  
	  <% include scripts %>
  </body>
  </html>