<!-- <ol class="carousel-indicators">
	    	<% for(var i = 0; i < carouselItems.length; i++) { %>
	    	<li data-target="#myCarousel" data-slide-to="<%=i%>" <% if(i==0) { %>class="active"<%}%> ></li>
	    	<% } %>
	    </ol> -->