<!-- from http://getbootstrap.com/2.3.2/javascript.html#carousel -->
	  <div id="myCarousel" class="container carousel slide">
	    <ol class="carousel-indicators">
	      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
	      <li data-target="#myCarousel" data-slide-to="1"></li>
		  <li data-target="#myCarousel" data-slide-to="2"></li>
	    </ol>
	    <!-- Carousel items -->
		<!-- layout of each carousel item formatted similar to https://github.com/sjuvekar/3Dthon/blob/master/index.html -->
	    <div class="carousel-inner">
		  <!-- background image from http://pixabay.com/get/b6ef82918ff4c35ef247/1377550737/soap-bubble-63982_1280.jpg -->
	      <div class="active item" style="background-image: url('/assets/img/soap-bubble-63982_1280.jpg')">
			<a href="/"><div class="container">
			    <div class="carousel-caption">
			      	<h1 style="color: gold">The Unsolved Problems Database</h1>
			      	<p class="lead">Learn about the world's greatest mysteries.</p>
				</div>
			</div></a>
	      </div>
	      <div class="item" style="background-image: url('/assets/img/logo.svg')">
  			<a href="/problem/collatz"><div class="container">
  			    <div class="carousel-caption">
  			      	<h1 style="color: red">Collatz Conjecture</h1>
  			      	<p class="lead">Mathematics -- Number Theory</p>
  				</div>
  			</div></a>
	      </div>
	      <div class="item" style="background-color: green">
  			<div class="container">
  			    <div class="carousel-caption">
  			      	<h1 style="color: gold">Spread the word! Fund us!</h1>
  			      	<a class="btn btn-large" href="#social">Share</a>
					<a class="btn btn-large" href="#funding">Donate</a>
  				</div>
  			</div>
	      </div>
	    </div>
	    <!-- Carousel nav -->
	    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	  </div>