<!DOCTYPE html>
<!-- created mostly with reference to https://spark-public.s3.amazonaws.com/startup/images/part1-instructions.pdf-->
<html lang="en">
  <head>
    <title>Contact | The Unsolved Problems Database</title>
	<% include headers %>
  </head>
  <body>
	  <% include navbar %>
	  <% include navid %>
	  
	  <!-- idea copied from pitery.herokuapp.com -->
	  <% include ribbon %>
	  <div class="row">
		  <div class="span3">
			  <a href="/"><img src="/assets/img/soap_bubble.jpg" style="max-width:50%; display:block; margin-left:auto; margin-right:auto;"/></a>
		  </div>
		  <div class="span9">
			  <h3>Main Developer: J. Hassler Thurston</h3>
			  <h3><a href="mailto:support@unsolveddatabase.org">support@unsolveddatabase.org</a></h3>
			  <hr class="soften">
			  <p>If you would like to contribute to this project, please visit the project's <a href="https://github.com/jthurst3/unsolveddatabase">Github</a> site.</p>
		  </div>
	  </div>
	  
	  <% include scripts %>
  </body>
  </html>