<!DOCTYPE html>
<html lang="en">
<head>
	
    <title>Dashboard | <%= user.name %></title>
	
	<% include headers %>
</head>
<body>
	<div id="fb-root"></div>
	<!-- Facebook JavaScript SDK -->
	<% include FacebookJavascriptSDK %>
	
  <!-- navigation pane -->
  <% include navbar %>
  <% include navid %>
  
  <!-- idea copied from pitery.herokuapp.com -->
  <% include ribbon %>
  
  <div class="row-fluid">
	  <div class="span3">
		  <%= user.name %>
		  <br>
		  Edits History
		  <br>
		  Forum Contributions
		  <br>
		  Profile
		  <br>
		  Settings
		  <br>
		  Terms
		  <br>
		  Logout
	  </div>
	  <div class="span9">
		  <h3>Placeholder</h3>
	  </div>
  </div>
  
  <% include scripts %>
</body>
</html>