<!-- Not crucial, but we put this under a CC By-SA 3.0 license. -->
<!-- http://creativecommons.org/licenses/ -->
<div class="row-fluid footer">
     <div class="span12">
     	<p>
     		<a href="/acknowledgements">Acknowledgements</a> &nbsp;
     		<a href="http://creativecommons.org/licenses/by-sa/3.0/">License</a>
     	</p>
     </div>
</div>