<!DOCTYPE html>
<!-- created mostly with reference to https://spark-public.s3.amazonaws.com/startup/images/part1-instructions.pdf-->
<!-- FROM THE BITSTARTER FOLDER ON THE FIRST EC2 INSTANCE -->
<html lang="en">
  <head>
    <title>The Unsolved Problems Database</title>
	
	<% include headers %>
	
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-42904318-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	
  </head>
  <!-- image from http://www.grsites.com/ -->
  <body>
	  <!-- Facebook JavaScript SDK -->
	  <div id="fb-root"></div>
	  <% include FacebookJavascriptSDK %>
	  
	  <!-- navigation pane -->
	  <% include navbar %>
	  <% include navid %>

	  <% include alert %>
	  
	  <% include carousel %>
	  
      <% include social %>
	  
	  <hr class="soften">
	  
	  <div class="container marketing">
		  <div id="solutions" class="row-fluid">
			  <div class="span4">
				  <!-- from http://pixabay.com/en/puzzle-complete-part-share-fit-63626/ -->
				  <img class="marketing-img" src="/assets/img/puzzle-63626_640.jpg">
			  </div>
			  <div class="span8">
				  <h3>At the Unsolved Problems Database, we hope that by providing educational material and forums to discuss unsolved problems, we can come up with solutions to these problems that wouldn't have been dreamed up otherwise.</h3>
			  </div>
		  </div>
		  <hr class="soften">
		  <div class="row-fluid" id="examples">
			  <div class="span8">
				  <h3>Here at the Unsolved Problems Database, you will find information on numerous unsolved problems in mathematics, the natural sciences, the social sciences, and many other areas.</h3>
			  </div>
			  <div class="span4">
				  <!-- By David Eppstein (Own work) [Public domain], <a href="http://commons.wikimedia.org/wiki/File%3AErd%C5%91s%E2%80%93Faber%E2%80%93Lov%C3%A1sz_conjecture.svg">via Wikimedia Commons</a> -->
				  <img class="marketing-img" src="http://upload.wikimedia.org/wikipedia/commons/f/fa/Erd%C5%91s%E2%80%93Faber%E2%80%93Lov%C3%A1sz_conjecture.svg" style="height: 300px">
			  </div>
		  </div>
		  <hr class="soften">
	  </div>
	  <div class="row-fluid">
	  	<div class="span6 offset3">
	  	<section id="sources">
	  		<div class="accordion-group">
	              <div class="accordion-heading">
	                <a class="accordion-toggle" data-toggle="collapse"
	                   data-parent="#accordion2" href="#collapseOne">
	                  Sources for this Page
	                </a>
	              </div>
	              <div id="collapseOne" class="accordion-body collapse">
	                <div class="accordion-inner">
	                  <ul>
	                  	<li>Carousel background image 1: <a href="http://pixabay.com/en/soap-bubble-ball-question-mark-63982/">Pixabay</a></li>
	                  	<li>Carousel background image 2: <a href="https://commons.wikimedia.org/wiki/File:Collatz-stopping-time.svg">Wikimedia Commons, by Cirne (self-made, based on plot by Goldencako) [Public domain]</a></li>
	                  	<li>Carousel background image 3: <a href="http://pixabay.com/en/ball-puzzle-pieces-of-the-puzzle-72374/">Pixabay</a></li>
	                  	<li>Puzzle pieces: <a href="http://pixabay.com/en/puzzle-complete-part-share-fit-63626/">Pixabay</a></li>
	                  	<li>Graph: <a href="http://commons.wikimedia.org/wiki/File%3AErd%C5%91s%E2%80%93Faber%E2%80%93Lov%C3%A1sz_conjecture.svg">Wikimedia Commons, by David Eppstein (Own work) [Public domain]</a></li>
	                  </ul>
	                </div>
	              </div>
	            </div>
	  	</section>
	    </div>
	  </div>

		<% include footer %>
		
		<!-- modified from https://github.com/sjuvekar/3Dthon/blob/master/index.html on August 26, 2013 -->
		<style>
		/* Carousel base class */
		      .carousel {
		        margin-bottom: 60px;
		      }
      
		      .carousel .container {
		        position: relative;
		        z-index: 9;
		      }
      
		      .carousel-control {
		        margin-top: 50px;
		        /*text-shadow: 0 1px 1px rgba(1,0,0,.4);*/
		        background-color: transparent;
		        border: 0;
		        z-index: 10;
		      }
      
		      .carousel .item {
		        height: 500px;
		        background-position: center top;
		        background-repeat: no-repeat;
		        background-size: cover;
		        -moz-background-size: cover;
		        -webkit-background-size: cover;
		      }
      
		      .carousel-caption {
		        background-color: transparent;
		        position: static;
		        max-width: 550px;
		        padding: 0 20px;
		        margin-top: 200px;
		        margin-left: 5%;
		      }
      
		      .carousel-caption h1,
		      .carousel-caption .lead {
		        margin: 0;
		        line-height: 1.25;
		        color: #fff;
		        text-shadow: 0 1px 1px rgba(1,0,0,.4);
		      }
      
		      .carousel-caption .btn {
		        margin-top: 10px;
		      }
		</style>
		
		<% include scripts %>

		<!-- Facebook like button -->
		<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=157569387774298";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		
		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-42904318-1', 'herokuapp.com');
		  ga('send', 'pageview');

		</script>
		<!-- from http://stackoverflow.com/questions/9353294/bootstrap-carousel-not-working -->
		<script>
		// Load this when the DOM is ready
		$(function(){
		  // You used .myCarousel here. 
		  // That's the class selector not the id selector,
		  // which is #myCarousel
		  $('#myCarousel').carousel();
		});
		</script>
  </body>
</html>
      
