	  <div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	  	  <div class="container">
	  		  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  			  <span class="icon-bar"/>
	  			  <span class="icon-bar"/>
	  			  <span class="icon-bar"/>
	  		  </button>
	  		  <a class="brand" style="background: left" href="/">Unsolved Problems</a>
	  		  <div class="nav-collapse collapse">
	  			  <ul class="nav">
	  				  <li id="ref1"><a id="ref1a" href="/">Homepage</a></li>
	  				  <li id="ref2"><a id="ref2a" href="/about">About</a></li>
	  				  <li id="ref3"><a id="ref3a" href="/contact">Contact</a></li>
					  <li id="ref4"><a id="ref4a" href="/faq">FAQ</a></li>
					  <li id="ref5"><a id="ref5a" href="/dashboard">Dashboard</a></li>
					  <li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Subjects <b class="caret"></b></a>
						  <ul class="dropdown-menu">
								  <% fields.forEach(function(fd) { %>
									  <li><a href="/categories/<%= fd.nid %>"><%= fd.name %></a></li>
								  <% })%>
						  </ul>
					  </li>
	  			  </ul>
	  		  </div>
	  	  </div>
	    </div>
	  </div>