	  <nav class="navbar navbar-default navbar-fixed-top" style="height: 40px" role="navigation">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
		      <span class="sr-only">Unsolved Problems</span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		      <span class="icon-bar"></span>
		    </button>
		</div>
	  	  <div class="collapse navbar-collapse" id=".navbar-collapse">
	  	  	<ul class="nav navbar-nav nav-justified">
	  	  		<li id="ref1"><a id="ref1a" href="/">Homepage</a></li>
	  			<li id="ref2"><a id="ref2a" href="/about">About</a></li>
	  			<li id="ref3"><a id="ref3a" href="/contact">Contact</a></li>
	  			<% if(user == null) { %>
	  			<li class="dropdown">
			        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login <b class="caret"></b></a>
			        <ul class="dropdown-menu">
			          <li><a href="/auth/facebook"><button class="btn btn-facebook btn-large"><i class="icon-facebook"></i> | Login with Facebook</button></a></li>
			          <li><a href="/auth/twitter"><button class="btn btn-twitter btn-large"><i class="icon-twitter"></i> | Login with Twitter</button></a></li>
			          <li><a href="/auth/google"><button class="btn btn-google-plus btn-large"><i class="icon-google-plus"></i> | Login with Google</button></a></li>
			        </ul>
		      	</li>
		      	<% } else { %>
		      	<li class="dropdown" id="ref5">
					<a id="ref5a" href="#" class="dropdown-toggle" data-toggle="dropdown"><%= user.name %> <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<li><a href="/dashboard">Dashboard</a></li>
						<li class="divider"></li>
						<li><a href="/logout">Logout</a></li>
					</ul>
				</li>
		      	<% } %>
				<li id="ref4"><a id="ref4a" href="/faq">FAQ</a></li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown">Subjects <b class="caret"></b></a>
					<ul class="dropdown-menu">
						<% fields.forEach(function(fd) { %>
							<li><a href="/categories/<%= fd.nid %>"><%= fd.name %></a></li>
						<% })%>
					</ul>
				</li>
			</ul>
	  	  </div>
	    </div>
	  </nav>