	  <div class="navbar navbar-fixed-top">
	    <div class="navbar-inner">
	  	  <div class="container">
	  		  <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
	  			  <span class="icon-bar"/>
	  			  <span class="icon-bar"/>
	  			  <span class="icon-bar"/>
	  		  </button>
	  		  <a class="brand" style="background: left" href="/">Unsolved Problems</a>
	  		  <div class="nav-collapse collapse">
	  			  <ul class="nav">
	  				  <li class="active"><a href="/">Homepage</a></li>
	  				  <li><a href="/about">About</a></li>
	  			  	  <li><a href="/orders">Orders</a></li>
	  				  <li><a href="/contact">Contact</a></li>
					  <li><a href="/faq">FAQ</a></li>
					  <li><a href="/dashboard">Dashboard</a></li>
					  <!--li class="dropdown">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Login<span class="caret"></span></a>
						  <ul class="dropdown-menu">
							  <li><a href="/auth/facebook">Facebook</a></li>
						  </ul>
					  </li-->
	  			  </ul>
	  		  </div>
	  	  </div>
	    </div>
	  </div>