<div class="span3 bs-docs-sidebar">
			  <ul class="nav nav-list bs-docs-sidenav affix">
	            <li><a href="#description"><i class="icon-chevron-right"></i>Description</a></li>
	            <li><a href="#statement"><i class="icon-chevron-right"></i>Formal Statement</a></li>
	            <li><a href="#examples"><i class="icon-chevron-right"></i>Examples</a></li>
				<li><a href="#importance"><i class="icon-chevron-right"></i>Why It's Important</a></li>
				<li><a href="#hardness"><i class="icon-chevron-right"></i>Why It's Unsolved</a></li>
	            <li><a href="#history"><i class="icon-chevron-right"></i>History</a></li>
				<li><a href="#solutions"><i class="icon-chevron-right"></i>Potential Solutions</a></li>
	            <li><a href="#implications"><i class="icon-chevron-right"></i>Implications</a></li>
				<li><a href="#faq"><i class="icon-chevron-right"></i>FAQ</a></li>
				<li><a href="#forums"><i class="icon-chevron-right"></i>Forums</a></li>
	            <li><a href="#references"><i class="icon-chevron-right"></i>References</a></li>
	          </ul>
</div>