			<form name="sandboxInput" action="/sandboxEdit">
				<!-- <input type="hidden" name="sandboxOldText" value="<%= user.sandbox %>"> -->
			    <textarea name="sandboxNewText" rows="10" cols="300" class="span9"><%= user.sandbox %></textarea>
				<button type="submit" class="btn">Save</button>
			</form>