<!DOCTYPE html>
<html lang="en">
<head>
	
    <title>Signup | The Unsolved Problems Database</title>
	
	<% include headers %>
</head>
<body>
	<div id="fb-root"></div>
	<!-- Facebook JavaScript SDK -->
	<% include FacebookJavascriptSDK %>
	
  <!-- navigation pane -->
  <% include navbar %>
  
  <!-- idea copied from pitery.herokuapp.com -->
  <% include ribbon %>
  
  <div class="row-fluid">
	  <div class="span12">
	  	<h1 style="text-align:center;">Sign up! It's free!</h1>
  	  </div>
  </div>
  <hr class="soften">
  <div class="bs-docs-social row-fluid" id="social">
	  <!-- Facebook Login Button -->
	  <div class="span4">
		  <a href="/auth/facebook"><button class="btn btn-facebook btn-large"><i class="icon-facebook"></i> | Login with Facebook</button></a>
	  </div>
	  <div class="span4">
		  <a href="/auth/twitter"><button class="btn btn-twitter btn-large"><i class="icon-twitter"></i> | Login with Twitter</button></a>
	  </div>
	  <div class="span4">
		  <a href="/auth/google"><button class="btn btn-google-plus btn-large"><i class="icon-google-plus"></i> | Login with Google</button></a>
	  </div>
  </div>
  
  
  <% include scripts %>
</body>
</html>