<!DOCTYPE html>
<html lang="en">
<head>
	
    <title>Signup | The Unsolved Problems Database</title>
	
	<% include headers %>
</head>
<body>
	<div id="fb-root"></div>
	<!-- Facebook JavaScript SDK -->
	<% include FacebookJavascriptSDK %>
	
  <!-- navigation pane -->
  <% include navbar %>
  
  <!-- idea copied from pitery.herokuapp.com -->
  <% include ribbon %>
  
  <div class="row-fluid">
	  <div class="span12">
	  	<h1 style="text-align:center;">Sign up! It's free!</h1>
  	  </div>
  </div>
  <hr class="soften">
  <% include social %>
  
  <% include footer %>
  <% include scripts %>
</body>
</html>