<div class="bs-docs-social row-fluid" id="social">
  <div class="span9">
        <!-- Facebook like button -->
        <div class="fb-like" data-href="https://www.facebook.com/unsolveddatabase" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        <!-- Facebook login button -->
        <!-- <fb:login-button data-show-faces="true" data-width="200" data-max-rows="2"></fb:login-button> -->
      </div>
<!-- AddThis Button BEGIN -->
<!-- copied from https://class.coursera.org/startup-001/assignment/view?assignment_id=12, which is 
	modified from https://www.addthis.com/get/sharing#.Ufq8TmTwJRs -->
  <div class="span3 addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_preferred_1"></a>
    <a class="addthis_button_preferred_2"></a>
    <a class="addthis_button_compact"></a>
    <a class="addthis_counter addthis_bubble_style"></a>
  </div>
   <script type="text/javascript">var addthis_config = 
    {"data_track_addressbar":true};</script>
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51fabc46527de406"></script>
  <!-- AddThis Button END -->
</div>