<!DOCTYPE html>
<!-- created mostly with reference to https://spark-public.s3.amazonaws.com/startup/images/part1-instructions.pdf-->
<html lang="en">
  <head>
    <title>About | The Unsolved Problems Database</title>
	
	<% include headers %>
	
  </head>
  <body>
  	<!-- navbar -->
	  <% include navbar %>
  </body>
 </html>