/* large desktop */
@media (min-width: 980px) {
	body {
		padding-top: 100px;
	}
	.linediv-l {
		border-right: 1px white solid;
	}
	.linediv-r {
		border-left: 1px white solid;
	}
}
@media (max-width: 480px) {
	.copy {
		padding: 2.5% 10%;
	}
	.linediv-l {
		border-bottom: 1px white solid;
	}
	.linediv-r {
		border-top: 1px white solid;
	}
}

/* main body and headings */
    body {
    /*padding-top: 20px;
    padding-bottom: 40px;*/
  font-family: 'Open Sans', Helvetica, Arial, Sans-Serif;
    }
  .heading, .subheading {
  	font-family: 'Ubuntu', Helvetica, Arial, Sans-Serif;
	text-align: center;
  }
  
    p.lead {
    padding-top: 1.5%;
  font-size: 24px;
  line-height: 30px;
}
p {
  font-size: 18px;
  line-height: 24px;
}
/* video pitch and action */
.pitch {
  padding: 2.5% 0%;
}
.order {
  padding: 2% 0%;
}
.actions {
  background-color: #343434;
  padding: 3% 0%;
}
    .video, .thermometer, .order, .social, .statistics {
     text-align: center;
    }
  .statistics h3, .statistics p {
	  color: white;
  }
  
  /* marketing copy and footer */
  .copy {
	  padding-top: 2.5%;
	  padding-bottom: 2.5%;
	  text-align: justify;
  }
  .asset {
	  padding: 2.5% 0%;
  }
  .footer {
	  color: #cccccc;
	  text-align: center;
  }
  .footer p {
	  font-size: 11px;
  }
  .footer a {
	  color: #ccccff;
  }
  
  /* http://support.addthis.com/customer/portal/questions/1136093-share-buttons-in-center-position */      
   div.addthis_toolbox {
    width:180px;
    margin: 0 auto;
   }